:root {
  --sidebar-bg: #6aade4;
  --card-yellow: #facc15;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: minmax(300px, 1fr) 3fr;
  grid-template-rows: 1fr 3fr;
  grid-template-areas: 
  "sidebar header"
  "sidebar main-content";
  color: white;
}


#sidebar {
  display: grid;
  grid-area: sidebar;
  justify-items: start;
  margin: 0;
  padding: 2rem;
  height: 100vh;
  background-color: var(--sidebar-bg);
}

.nav-icon {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
  width: 50px;
}

.nav-item {
  display: flex;
}

.card {
  width: 100px;
  color: black;
}

.button-container img {
  width: 30px;
}

#header {
  display: grid;
  grid-area: header;
}

img {
  width: 30px;
}